@font-face {
  font-family: Lato;
  src: url(../assets/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: LatoL;
  src: url(../assets/fonts/Lato-Light.ttf);
}
.nav {
  height: 100px;
  width: 100%;
  padding: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}
.nav .links-nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav a {
  text-decoration: none;
  font-size: 25px;
  color: black;
  font-family: Lato;
}
.nav .loginBtn-nav {
  border-radius: 20px;
  padding: 10px 45px;
  box-shadow: 0px 7px 10px rgba(42, 42, 42, 0.4);
  background-color: #FFD972;
  font-family: Lato;
}

.footer {
  height: 50px;
  width: 100%;
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
}
.footer .copy {
  margin-left: -100px;
  font-family: Lato;
}
.footer .links-footer {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer .links-footer a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-family: Lato;
}
.footer .logos-footer {
  width: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

#app-home {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(45deg, rgba(242, 92, 84, 0.631372549), rgba(242, 92, 84, 0.631372549)), url(../assets/pizza.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#app-home .circles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#app-home .yellow-circle {
  width: 360px;
  height: 360px;
  background-color: #FFD972;
  border-radius: 50%;
  box-shadow: 0px 7px 10px rgba(42, 42, 42, 0.4);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#app-home .yellow-circle .title-home {
  font-size: 24px;
  font-weight: bold;
  font-family: Lato;
}
#app-home .yellow-circle .text-home {
  width: 45%;
  text-align: center;
  font-family: LatoL;
  font-weight: bold;
}
#app-home .pink-circle {
  width: 170px;
  height: 170px;
  background-color: #FCBCB8;
  border-radius: 50%;
  box-shadow: 0px 7px 10px rgba(42, 42, 42, 0.4);
  margin-left: -5%;
  margin-top: -15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#app-home .pink-circle .text-pink {
  width: 60%;
  text-align: center;
  font-size: 10px;
  font-family: LatoL;
  font-weight: bold;
}

#login-app {
  width: 100%;
  height: 100%;
  background-color: #FFD972;
}
#login-app .login-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#login-app .login-content .login-here {
  width: 25%;
  height: 80%;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#login-app .login-content .login-here p {
  font-size: 30px;
  font-family: Lato;
}
#login-app .login-content .sign-up {
  width: 25%;
  height: 80%;
  background-color: rgb(3, 26, 69);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#login-app .login-content .sign-up .sign-up-title {
  font-size: 30px;
  font-family: Lato;
}
#login-app .login-content .sign-up .sign-up-title .default {
  font-size: 10px;
  font-style: italic;
}
